#Wrapper {
	height: auto;
	width: 1268px;
	margin-right: auto;
	margin-left: auto;
}
#Left {
	float: left;
	height: 700px;
	width: 220px;
	margin-top: 220px;
	margin-left: 20px;
}
#Center {
	height: 460px;
	width: 780px;
	float: left;
	margin-left: 40px;
	margin-top: 500px;
	position: relative;
}
.floatleft {
	float: left;
}

#Header {
	float: left;
	height: 100px;
	width: 1268px;
	background-color: #900;
	position: relative;
}
#Content {
	height: 1000px;
	width: 1268px;
	float: left;
	background-image: url(../Image/bg-main.jpg);
	background-repeat: no-repeat;
}
#Footer {
	float: left;
	height: 150px;
	width: 1268px;
	background-color: #FFC;
	border-top-width: medium;
	border-top-style: solid;
	border-top-color: #F96;
	position: relative;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
}
.Cangiua {
	text-align: center;
}
#left {
	float: left;
	height: 100px;
	width: 100px;
}
#left1 {
	float: left;
	height: 150px;
	width: 200px;
}
#tHeader {
	height: 125px;
	width: 1268px;
}
#subheader {
	height: 25px;
	width: 1268px;
	padding-left: 150px;
}
table tr td ul li a {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	padding-top: 2px;
}
#submenu {
	display: none;
	z-index: 1000;
	float: left;
	position: relative;
}
.submenubg {
	background-color: #FF6;
}
#submenu .submenubg ul li a:hover {
	color: #FFF;
	background-color: #000;
}
#Right {
	height: 600px;
	width: 800px;
	margin-top: 220px;
	margin-left: 50px;
	float: left;
}
#slideshow {
	float: left;
	height: 300px;
	width: 760px;
	margin-right: 20px;
	margin-left: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-top: 20px;
	background-color: #FF9;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}
#slidecontrol {
	height: 40px;
	width: 700px;
	float: left;
	margin-right: 30px;
	margin-left: 30px;
	text-align: right;
	background-color: #900;
}
#slide {
	float: left;
	height: 240px;
	width: 700px;
	margin-left: 30px;
	margin-top: 10px;
}
#htintuc {
	height: 180px;
	width: 344px;
	float: left;
}
#tintuc {
	height: 180px;
	width: 344px;
	background-color: #900;
	position: relative;
	z-index: 999;
	visibility: hidden;
}
#fb {
	height: 200px;
	width: 220px;
}


#info1 {
	height: 230px;
	width: 344px;
	margin-right: 20px;
	margin-left: 50px;
	float: left;
	margin-top: 30px;
}
#tintucctrl {
	float: left;
	height: 41px;
	width: 344px;
	background-image: url(../Image/bg-title.jpg);
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	color: #FF9;
	font-weight: bold;
}
#htintuc2 {
	height: 180px;
	width: 344px;
	float: left;
}
#tintucctrl2 {
	float: left;
	height: 41px;
	width: 344px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FF9;
	background-image: url(../Image/bg-title.jpg);
}


#info2 {
	height: 230px;
	width: 344px;
	margin-top: 30px;
	margin-right: 20px;
	float: left;
}
body {
	font-family:verdana;
	font-size:12px;
	text-decoration: none;
}
a {color:#333; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}
#boxes .window {
  position:fixed;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
#boxes #dialog {
  width:375px;
  height:203px;
  padding:10px;
  background-color:#ffffff;
}
#boxes #dialog1 {
  width:375px;
  height:203px;
}
#dialog1 .d-header {
  background:url(images/login-header.png) no-repeat 0 0 transparent;
  width:375px;
  height:150px;
}
#dialog1 .d-header input {
  position:relative;
  top:60px;
  left:100px;
  border:3px solid #cccccc;
  height:22px;
  width:200px;
  font-size:15px;
  padding:5px;
  margin-top:4px;
}
#dialog1 .d-blank {
  float:left;
  background:url(images/login-blank.png) no-repeat 0 0 transparent;
  width:267px;
  height:53px;
}
#dialog1 .d-login {
  float:left;
  width:108px;
  height:53px;
}
#boxes #dialog2 {
  background: url('/images/notice.png') no-repeat 0 0 transparent;
  width:326px;
  height:229px;
  padding:25px 0 20px 25px;
}
